doctype html
html 
  head 
    title NodeJS Repair Website
  body 
    h1 PC Repair website
    #content
      .block
        input#bar.foot1.foo2
    ul#books
      li
        a(href="#book-a") Book A
      li
        a(href="#book-b") Book B